.contactsList {
  width: max-content;
}

.contactsList li {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 10px;
}

.contactsList li:last-child {
  margin-bottom: 0;
}

.contactsList li button {
  margin-left: 20px;
}
